<header>
    <div class="title">
        <h1 class="movied-title">Movied</h1>
    </div>
    <hr/>
    <div class="header-buttons">
        <a class="signup-button" href="/user/signup"><button>Signup</button></a>
        <a class="login-button" href="/user/login"><button>Login</button></a>
        <a class="logout-button" href="/user/logout"><button>Logout</button></a>
        <a class="add-movie-button" href="/movies/add"><button>Add Movie</button></a>
    </div>
</header>