<header>
    <!-- <div class="title"> -->
        <!-- </div> -->
        <!-- <hr/> -->
        <div class="header-buttons">
        <h1 class="movied-title">Movied</h1>
        <div class="nav-button">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <a class="login-hidden" href="/movies"><button>Your List</button></a>
            <a class="login-header" href="/user/signup"><button>Signup</button></a>
            <a class="login-header" href="/user/login"><button>Login</button></a>
            <a class="login-hidden" href="/user/logout"><button>Logout</button></a>
            <a class="login-hidden" href="/movies/add"><button>Add Movie</button></a>
        </div>
    </div>
</header>