<header>
    <h1>Movied</h1>
    <a href="/user/signup"><button>Signup</button></a>
    <a href="/user/login"><button>Login</button></a>
    <a href="/user/logout"><button>Logout</button></a>
    <a href="/movies/add"><button>Add Movie</button></a>
</header>