<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="nav-space"></div>
      <main>
        <div class="login-form-div">
          <form action="/user/signup" method="post">
            <fieldset class="login-form">
              <legend>New User</legend>
              <div class="form-inputs">
                <label class="signup-username">
                  USERNAME: <input type="text" name="username" required />
                </label>
                <label class="signup-password">
                  &nbsp;&nbsp;PASSWORD: <input type="password" name="password" required />
                </label>
                <input type="submit" value="Create" />
              </div>
            </fieldset>
          </form>
        </div class="signup-movie-posters">
        <div class="login-movie-posters">
          <div class="poster login-jaws">
            <h4>Jaws</h4>
            <img src="https://m.media-amazon.com/images/M/MV5BMmVmODY1MzEtYTMwZC00MzNhLWFkNDMtZjAwM2EwODUxZTA5XkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg">
          </div>
          <div class="poster login-thegodfather">
            <h4>The Godfather</h4>
            <img src="https://m.media-amazon.com/images/M/MV5BM2MyNjYxNmUtYTAwNi00MTYxLWJmNWYtYzZlODY3ZTk3OTFlXkEyXkFqcGdeQXVyNzkwMjQ5NzM@._V1_SX300.jpg">
          </div>
          <div class="poster login-ghostbusters">
            <h4>Ghostbusters</h4>
            <img src="https://m.media-amazon.com/images/M/MV5BMTkxMjYyNzgwMl5BMl5BanBnXkFtZTgwMTE3MjYyMTE@._V1_SX300.jpg">
          </div>
          <div class="poster login-abugslife">
            <h4>A Bug's Life</h4>
            <img src="https://m.media-amazon.com/images/M/MV5BNThmZGY4NzgtMTM4OC00NzNkLWEwNmEtMjdhMGY5YTc1NDE4XkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX300.jpg">
          </div>
      </main>
  </body>
</html>