<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div>
        <h1>PLACEHOLDER TITLE</h1>
        <h1><%= data.Title %></h1>
        <h1><%= data.Year %></h1>
    </div>
</body>
</html>